<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>CONTACT</h1>
    <p>As a , Fresher I'm eager to showcase my skills and contribute positively, ready to learn and grow in every opportunity.</p>
    <p class="fs-6 font-w mb-3"><i class="bi bi-envelope" style="font-size: 2rem; color: black;"></i> &nbsp;<a href="mailto:dineshkumarc9102&#64;gmail.com" class="text-decoration-none">dineshkumarc9102&#64;gmail.com</a></p><br><br>
    <p>Connect with me through...</p>
    <div class="row d-flex contact-info mb-5">
      <div class="col-md-6 d-flex ftco-animate linkedin-box">
        <div class="align-self-stretch box text-center p-4 shadow">
          <div class="icon d-flex align-items-center justify-content-center">
            <span><i class="bi bi-linkedin" style="font-size: 3rem; color: rgb(0, 55, 237);"></i></span>
          </div>
          <div>
            <p><a href="https://www.linkedin.com/in/dinesh-kumar-8b4bb1250/">https://www.linkedin.com/in/dinesh-kumar-8b4bb1250/</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex ftco-animate github-box">
        <div class="align-self-stretch box text-center p-4 shadow">
          <div class="icon d-flex align-items-center justify-content-center">
            <span><i class="bi bi-github" style="font-size: 3rem; color: rgb(0, 55, 237);"></i></span>
          </div>
          <div>
            <p><a href="https://github.com/dineshkumarc9102">https://github.com/dineshkumarc9102</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
