<div class="container d-flex justify-content-center">
  <div class="row">
    <!-- Info -->
    <div class="col-lg-6 shadow border m-1 info-card">
      <div class="card-body d-flex align-items-center">
        <div class="text-left">
          <p class="fs-6 mb-3">Name: Dinesh Kumar. C</p>
          <p class="fs-6 mb-3">Date of Birth: 9th October 2002</p>
          <p class="fs-6 mb-3">Address: Vellore</p>
          <p class="fs-6 mb-3">Zip Code: 632004</p>
          <p class="fs-6 mb-3">Phone: +91 9087302674</p>
          <p class="fs-6 mb-3">Email: <a href="mailto:dineshkumarc9102&#64;gmail.com" class="text-decoration-none">dineshkumarc9102&#64;gmail.com</a></p>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJDNve3-pRZM3shfCmtUad47X4iJIOfoTc-g&s" alt="dp" width="128" height="128" class="rounded-lg">
      </div>
    </div>
    <!-- About me -->
    <div class="col-lg-5 shadow border m-1 about-info">
      <div class="card-body text-center">
        <h2>ABOUT ME</h2><br>
        <p class="intro">A composed and proactive professional with sharp work ethic, adept at prioritizing tasks and overcoming challenges swiftly. Strong in time management, problem-solving, etc... Thrives in collaboration and under pressure. Meticulous attention to detail ensures precision. Experienced leader driving innovation and achieving collective goals.</p>
      </div>
    </div>
  </div>
</div>
